body {
	background-color: black;
}

/* 1000 x 580 */
#cr-stage {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1000px;
	height: 580px;
	margin-left: -500px;
	/* margin-top: -290px; */
}

/* Start menu */
#menu {
	position: absolute;
	width: 1000px;
	height: 580px;
	background-image:url('../img/StartMenu.png');
}

#rules {
	float: right;
	font-family : arial;
	color:#a17c4a;
	width :310px;
	font-size: 12px;
	margin-top: 360px;
	margin-right:30px;
}

#menu-button {
	float: left;
	width: 275px;
	height: 40px;
	margin-left: 325px;
	margin-top: 460px;
	font-size: 0px;
}

#start-button {
	width: 275px;
	height: 40px;
	background: url('../img/Menu_Items_StartGame.png') 0 0 no-repeat;
}

#start-button:hover {
	background-position:-275px 0px;
}

#option-button {
	margin: 10px:
}

.hideMenu {
	display: none;
}

/* Pause */
#pause-screen {
	position: absolute;
	width: 1000px;
	height: 580px;
	text-align: center;
	background-color: #000000;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	z-index: 2000;
}

#pause-screen img {
	margin: auto;
	margin-top: 250px;
}
